section header .top-nav .search:hover {
  background-color: #3bb77e;
  transition: ease 10ms;
}
section header .top-nav li:hover i {
  color: white;
}
section header .top-nav .icons {
  position: relative;
}
section header .top-nav .icons li {
  padding-left: 12px;
}
section header .top-nav .icons li .green-3 {
  border-radius: 50%;
  color: white;
  border: 1px solid #3bb77e;
  background-color: #3bb77e;
  padding: 0px 4px;
  font-size: 12px;
  position: absolute;
  left: 138px;
  top: 3px;
}
section header .top-nav .icons li a i {
  font-size: 18px;
}
section header .top-nav .icons .face-img {
  text-align: right;
  width: 23%;
}
section header .top-nav .icons .face-img img {
  vertical-align: middle;
  width: 60%;
  border-radius: 50%;
}
section header .top-nav .icons .face-img a {
  margin-right: 1rem;
}
section header .top-nav .icons .face-img a i {
  font-size: 12px;
}
section header .top-nav .nest_img {
  width: 25%;
}
section header .top-nav li {
  list-style: none;
}
section header .top-nav a {
  color: grey;
}
section header .top-nav .Nest {
  font-size: 33px;
  font-weight: bold;
  color: #3bb77e;
  letter-spacing: 2px;
}
section header .top-nav .MART {
  font-size: 8px;
  font-weight: bold;
  letter-spacing: 1px;
}
section header .top-nav input {
  padding: 12px 60px 12px 12px;
  background-color: #f4f5f9;
  border: 1px solid #f4f5f9;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
section header .top-nav .search {
  border-left: 1px solid grey;
  padding: 11px 25px 13px;
  margin-left: -5px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: #f4f5f9;
  color: grey;
}
section .main-nav {
  border-top: 1px solid grey;
  justify-content: unset;
}
section .main-nav li {
  list-style: none;
}
section .main-nav a {
  color: black;
  text-decoration: none;
}
section .main-nav .left-main {
  border-right: 1px solid grey;
}
section .main-nav .left-main ul li {
  font-size: 13px;
  padding: 12px 0;
  font-weight: bold;
}
section .main-nav .left-main ul li i {
  margin: 0 9px;
  color: #adb5bd;
  font-size: 19px;
}
section .main-nav .left-main ul li form {
  display: inline;
}
section .main-nav .left-main ul li form select {
  font-size: 13px;
  width: 80%;
  font-weight: bold;
  border: none;
}
section .main-nav .left-main ul hr {
  margin: 1.5rem 0;
}
section .main-nav .left-main ul:hover li {
  color: red;
  background-color: red;
}
section .main-nav .right-main {
  background-color: #dce5ee;
  padding: 32px 1rem 10px 3rem;
}
section .main-nav .right-main .head-main {
  padding-bottom: 3.5rem;
}
section .main-nav .right-main .head-main ul li h1 {
  font-size: 30px;
}
section .main-nav .right-main .head-main ul li .create {
  font-size: 13px;
  padding: 12px 2rem;
  background-color: #3bb77e;
  color: white;
  border-radius: 7px;
  width: 10rem;
}
section .main-nav .right-main .head-main ul li .create i {
  padding: 0 6px;
}
section .main-nav .right-main .head-main ul li:hover a {
  background-color: #33a36f;
}
section .main-nav .right-main .card-main {
  background-color: white;
  padding: 2rem;
  border-radius: 8px;
}
section .main-nav .right-main .card-main .top-card-main {
  padding-bottom: 1rem;
}
section .main-nav .right-main .card-main .top-card-main input {
  width: 60%;
  padding: 12px 1rem;
  background-color: #f4f5f9;
  border-radius: 7px;
  color: grey;
  font-size: 14px;
  border: none;
}
section .main-nav .right-main .card-main .top-card-main .buttons {
  justify-content: right;
}
section .main-nav .right-main .card-main .top-card-main .buttons li {
  margin-left: 12px;
}
section .main-nav .right-main .card-main .top-card-main .buttons li select {
  width: 10rem;
  padding: 10px 1rem;
  background-color: #f4f5f9;
  border-radius: 8px;
  border: none;
  color: grey;
}
section .main-nav .right-main .card-main .top-card-main .buttons form:active select {
  background-color: white;
  border: white;
}
section .main-nav .right-main .card-main .portfolio {
  position: relative;
  padding: 1rem 0 0;
  z-index: 1;
}
section .main-nav .right-main .card-main .portfolio .first::before {
  content: "";
  width: 24%;
  position: absolute;
  height: 31%;
  background-color: #3bb77e;
  top: 5%;
  z-index: -1;
  left: 0%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
section .main-nav .right-main .card-main .portfolio .second::before {
  content: "";
  width: 24%;
  position: absolute;
  height: 28%;
  background-color: #3bb77e;
  top: 5%;
  z-index: -1;
  left: 15.8rem;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
section .main-nav .right-main .card-main .portfolio .third::before {
  content: "";
  width: 24%;
  position: absolute;
  height: 31%;
  background-color: #3bb77e;
  top: 5%;
  z-index: -1;
  right: 25.3%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
section .main-nav .right-main .card-main .portfolio .fourth::before {
  content: "";
  width: 24%;
  position: absolute;
  height: 31%;
  background-color: #3bb77e;
  top: 5%;
  z-index: -1;
  right: 0;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
section .main-nav .right-main .card-main .portfolio div {
  border: 1px solid grey;
  padding: 2rem 0 1rem;
  text-align: center;
  border-radius: 8px;
}
section .main-nav .right-main .card-main .portfolio div ul li {
  margin: 5px 0;
  font-size: 14px;
  color: grey;
}
section .main-nav .right-main .card-main .portfolio div ul li img {
  width: 40%;
  height: 6rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  border: 4px solid whitesmoke;
}
section .main-nav .right-main .card-main .portfolio div ul li a {
  font-size: 13px;
  background-color: #33a36f;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 8px 10px;
}
section .main-nav .right-main .card-main .portfolio div ul li:hover a {
  background-color: #058f4f;
}
section .main-nav .right-main .card-main .portfolio div ul .NAME {
  font-weight: bold;
  color: black;
  margin: 15px;
}
section .main-nav .right-main .card-main:hover {
  position: relative;
  bottom: 15px;
}/*# sourceMappingURL=inde.css.map */